<!doctype html>


<head><title>Test</title>
    <meta charset=utf-8>
    <link rel="stylesheet" type="text/css" href="/static/style.css">
</head>
<body>
<img src="/static/header.png" alt="header" width="1150" height="150"><br><br>

<form action="/submit" method="POST">
    <label for="fname">First name:</label><br>
    <input type="text" id="fname" name="fname"><br><br>
    <label for="lname">Last name:</label><br>
    <input type="text" id="lname" name="lname"><br><br>


    <label for="pets">Choose your pet:</label>
    <select name="pets" id="pets">
        <option value="owl">Owl</option>
        <option value="cat">Cat</option>
        <option value="rat">Rat</option>
        <option value="toad">Toad</option>
    </select>
    <br><br>

    <label>Are you staying at Hogwarts during Christmas?</label><br><br>


        <input type="radio" id="yes" name="option" value="yes">
        <label for="yes">Yes</label>
        <input type="radio" id="no" name="option" value="no">
        <label for="no">No</label><br>

    <br><br>
        <button><a>Send</a></button><br>

    
</form>
<img src="/static/phoenix.png" alt="phoenix" width="250" height="250">

<hr>
<h1>Registered Members</h1>
<ul>
    {% for student in students.items %}
        <li>{{ student.fname }} {{ student.lname }} - Pet: {{ student.pet }}</li>
    {% endfor %}
</ul>

<hr>
{% if students.has_prev %}
    <a href="?page=1">&laquo First</a>
    <a href="?page={{students.prev_num}}">Previous</a>
    {% endif %}

    Page {{students.page}} of {{students.pages}}
    {% if students.has_next %}
    <a href="?page={{students.next_num}}">Next</a>
    <a href="?page={{students.pages}}">Last &raquo</a>
    {% endif %}

</body>